*{
    padding: 0;
    margin: 0;
}
#game{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
}
#player{
    width: 10px;
    height: 50px;
    background-color: black;
    position: relative;
    top: 225px;
    left: 50px;
}
#player2{
    width: 10px;
    height: 50px;
    background-color: black;
    top: 225px;
    left: 550px;
    position: relative;
    margin-top: -50px; 
}
.ball{
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative;
    padding: 200px;
}